<div class="my-form" [formGroup]="additionForm">
    <div class="image" (click)="chooseImg()">
        <div *ngIf="!src">
            upload image
        </div>
        <img src="{{src}}" alt="" *ngIf="src">
        <input #image type="file" (change)="onFileChange($event.target.files[0])">
    </div>
    <input formControlName="title" type="text" placeholder="project name...">
    <input formControlName="site" type="text" placeholder="project site...">
    <div class="type">
        <label><input formControlName="type" type="radio" value="0">Desktop</label>
        <label><input formControlName="type" type="radio" value="1">Mobile</label>
    </div>
    <div class="send" (click)="send()">
        send
    </div>
</div>

<div class="list">
    <div class="slide" *ngFor="let slide of slides">
        <div class="image">
            <img src="{{slide.image}}" alt="">
        </div>
        <div class="info">
            <div>name: {{slide.title}}</div>
            <div>site: {{slide.site}}</div>
            <div>type: {{slide.type === 0 ? 'desktop' : 'mobile'}}</div>
        </div>
        <div class="control" (click)="delete(slide.id)">
            <div>delete</div>
        </div>
    </div>
</div>