<div class="filter">
    Filter
    <span (click)="filter('all')" [ngClass]="{active: type === 'all'}">All</span>
    <!--<span (click)="filter('mobile')" [ngClass]="{active: type === 'mobile'}">Mobile</span>
    <span (click)="filter('desktop')" [ngClass]="{active: type === 'desktop'}">Desktop</span>-->
</div>

<div class="slider">
    <div class="owl-carousel" #carousel>
        <div class="item" *ngFor="let slide of filteredSlides">
            <img src="{{slide.image}}">
            <section>
                <h2>{{slide.title}}</h2>
                <p>{{slide.site}}</p>
            </section>
        </div>
    </div>
</div>