<div class="filter">
    Filter
    <span (click)="filter('all')" [ngClass]="{active: type === 'all'}">All</span>
    <span (click)="filter('mobile')" [ngClass]="{active: type === 'mobile'}">Mobile</span>
    <span (click)="filter('desktop')" [ngClass]="{active: type === 'desktop'}">Desktop</span>
</div>

<owl-carousel [options]="carouselOptions" [items]="filteredSlides" [carouselClasses]="carouselClasses">
    <div class="item" *ngFor="let slide of filteredSlides;let i = index">
        <img src="{{slide.image}}" alt="">
        <section style="display:none">
            <h2>{{slide.title}}</h2>
            <p>{{slide.site}}</p>
        </section>
    </div>
</owl-carousel>