@font-face {
  font-family: 'DINProBold';
  src: url('../fonts/DINProBold.otf'),
       url('../fonts/DINProBold.woff') format('woff'),
       url('../fonts/DINProBold.svg#DINProBold') format('svg');
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  font-style: normal;
}

li {
  list-style-type: none; 
}

html {
	height: 100%;
}

body {
  background: #000;
  color: #fff;
  padding: 2%;
  font-family: 'DINProBold';
}

header {
  width: 100%;
  z-index: 100;
}

h1 {
  font-size: 30px;
  margin-top: 10%;
}

.adress {
  float: right;
}

nav {
  margin-top: 10%;
}

nav a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 110px;
  text-transform: uppercase;
}

.hire_us {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #ffe880;
  color: #000;
  text-align: center;
  line-height: 100px;
  position: absolute;
  bottom: 5%;
  left: 2%;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 16px;
  font-weight: bold;
}

.text {
  position: absolute;
  bottom: 5%;
  right: 2%;
  font-size: 3vw;
}

.text:before {
  content:"";
  animation:change 5s infinite;
}
@keyframes change{
  0% {
    content:"Plan your website.";
  }
  /*25% {
    content:"1";
  }
  35% {
    content:"2";
  }*/
  50% {
    content:"Start with a Strong Foundation.";
  }
  /*75% {
    content:"2";
  }*/
  100% {
    content:"We Develop.";
  }
}

.filter {
  font-size: 40px;
  margin-top: 4%;
}

.filter span.active {
  color: #0041ff;
}

.filter span {
  margin: 5px;
  color: white;
  cursor: pointer;
}

.item {
  margin-top: 5%;
}

.item {
  position: relative;
}

.item section {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 80%;
  background: rgba(0,65,255, 0.7);
  padding: 2%;
  display: none;
}

.item h2 {
  font-size: 30px;
  margin-bottom: 5%;
}

.item p {
  font-size: 14px;
}

.contacts p {
  margin-top: 3%;
  font-size: 20px;
}

.contacts a {
  color: #fff;
  text-decoration: none;
}

dt {
  margin-top: 30px;
  cursor: pointer;
  font-size: 20px;
}

dd {
  margin-top: 30px;
  width: 500px;
}

.accordeon .active {
  color: #2d2d30;
}

.accordeon dl dd {
  display: none;
}

.accordeon {
  margin-bottom: 50px;
}

@media (max-width: 736px){
  nav a {
    font-size: 40px;
  }
  #map {
    margin-top: 15%;
  }
  dd {
    width: 300px;
  }
}

@media (max-width: 568px){
  nav {
    margin-top: 3%;
  }
  .slider section {
    position: relative;
    left: 8%;
  }
}

@media (max-width: 320px){
  .adress {
    width: 44%;
  }
}
