<nav>
    <a [routerLink]="['/work']">Work</a>
    <a [routerLink]="['/agency']">Agency</a>
    <a [routerLink]="['/contact']">Contact</a>
</nav>
<button class="hire_us btn--form-open">
      Hire Us
    </button>
<span class="text"></span>
<section class="form">
    <button class="btn btn--close"><svg class="icon icon--cross"><use xlink:href="#icon-cross"></use></svg></button>
    <form class="form__inner flexy flexy--center" action="" [formGroup]="hireUsForm">
        <h3 class="form__section form__section--title" (click)="test()">Hire us</h3>
        <div class="form__section">
            <label class="form__label">Name</label>
            <input formControlName="name" class="form__input" type="text" name="name">
        </div>
        <div class="form__section">
            <label class="form__label">Email</label>
            <input formControlName="email" class="form__input" type="email" name="email">
        </div>
        <div class="form__section">
            <label class="form__label">Phone</label>
            <input formControlName="phone" class="form__input" type="phone" name="phone">
        </div>
        <div class="form__section">
            <label class="form__label">Message</label>
            <input formControlName="message" class="form__input" type="text" name="message">
        </div>
        <div class="form__section">
            <label class="form__label">Services</label>
            <select formControlName="services" class="form__select">
            <option>Website development</option>
            <option>Mobile application development</option>
            <option>Corporate Identity design</option>
            <option>Complex design support</option>
          </select>
        </div>
        <div class="form__section form__section--right">
            <span class="form__close">
                <svg class="icon icon--cross icon--inline">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-cross"></use>
                </svg>Close this
            </span>
            <button class="btn btn--default send" (click)="test()">Hire us</button>
        </div>
    </form>
</section>